<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{% block title %}{% endblock %} - μSubmitServer</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ rel_root_url }}static/js/vendor/jquery.min.js"><\/script>')</script>
    
    <script type="text/javascript">
    /* katy lavallee @ http://stackoverflow.com/a/7452378/1094484 */
    $.each(document.styleSheets, function(i,sheet){
      if(sheet.href=='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') {
        var rules = sheet.rules ? sheet.rules : sheet.cssRules;
        if (rules.length == 0) {
          $('<link rel="stylesheet" type="text/css" href="{{ rel_root_url }}static/css/bootstrap.min.css" />').appendTo('head');
        }
      }
      
      if(sheet.href=='https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css') {
        var rules = sheet.rules ? sheet.rules : sheet.cssRules;
        if (rules.length == 0) {
          $('<link rel="stylesheet" type="text/css" href="{{ rel_root_url }}static/css/ie10-viewport-bug-workaround.css" />').appendTo('head');
        }
      }
    });
    </script>
    
    <style type="text/css">
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
    
    .dropdown button {
        color: #FFFFFF !important;
    }
    
    span.glyphicon {
        vertical-align: middle;
        margin-top: -4px;
    }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ rel_root_url }}">μSubmitServer</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ project_base_url }}">GitLab Repo</a></li>
                <li><a href="{{ project_base_url }}/activity"> » Activity</a></li>
                <li><a href="{{ project_base_url }}/commits/master"> » Commits</a></li>
                <li><a href="{{ project_base_url }}/tree/master"> » Repository</a></li>
                <li><a href="{{ project_base_url }}/pipelines"> » Pipelines</a></li>
              </ul>
            </ul>
          </ul>
          <!--
          <ul class="nav navbar-nav navbar-right">
            
          </ul>
          -->
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" style="padding-top: 50px">
      <section style="padding-top: 50px; margin-top:-40px">
        {% block body %}{% endblock %}
      </section>
    </div><!-- /.container -->
    
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" id="modal-dialog-title">Dialog</h3>
                </div>
                <div class="modal-body">
                    <iframe id="modal-dialog-iframe" src="" style="zoom:0.60" width="99.6%" height="99.6%" frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <br /><br />
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- Load Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    
    <!-- If Bootstrap isn't loaded, try local hosted version -->
    <script>(typeof $().emulateTransitionEnd == 'function') || document.write('<script src="{{ rel_root_url }}static/js/vendor/bootstrap.min.js"><\/script><script src="{{ rel_root_url }}static/js/vendor/ie10-viewport-bug-workaround.js"><\/script>')</script>
    
    <!-- Scrolling JS -->
    <script src="{{ rel_root_url }}static/js/js-fixed-scroll.js"></script>
    
    <script type="text/javascript">
    $('a.modalButton').on('click', function(e) {
        var src = $(this).attr('data-src');
        var height = $(this).attr('data-height') || 300;
        var width = $(this).attr('data-width') || "99.6%";
        var title = $(this).attr('data-title') || "Preview";

        $("#modal-dialog-iframe").attr({'src':src,
                                   'height': height,
                                   'width': width});
        $("#modal-dialog-title").html(title);
    });
    </script>
  </body>
</html>

