{% extends "base-template.html" %}
{% block title %}Commit {{ commit['hash'] }} ({{ commit['date'] }}){% endblock %}
{% block body %}
<h1>Commit <a href="." title="{{ commit['date'] }}">{{ commit['hash'] }}</a> <a href="{{ project_base_url }}/commit/{{ commit['hash'] }}"><img src="{{ rel_root_url }}static/img/gitlab.ico" alt="GitLab"/></a> ({{ commit['date'] }})</h1>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#latest-commit">Details</button>
<div id="latest-commit" class="collapse">
<pre>
{{ commit_info }}
</pre>
</div>
<table class="table table-hover">
<thead>
<tr>
<th>Test</th>
<th>Execution</th>
<th>Diff Test</th>
<th>JSON Diff</th>
</tr>
</thead>

{% for test in sorted(commit['tests']) %}
<tr>
<td>{{ test }}</td>
{% if commit['tests'][test]["run_result"] %}
<td class="success"><a href="{{ test }}-run.html">Success</a> (exit code {{ commit['tests'][test]["errcode"] }})</td>
{% else %}
<td class="danger"><a href="{{ test }}-run.html">Failed</a> (exit code {{ commit['tests'][test]["errcode"] }})</td>
{% endif %}

{% if commit['tests'][test]["diff_result"] %}
<td class="success"><a href="{{ test }}-diff.html">Success</a> (exit code {{ commit['tests'][test]["differrcode"] }})</td>
{% else %}
<td class="danger"><a href="{{ test }}-diff.html">Failed</a> (exit code {{ commit['tests'][test]["differrcode"] }})</td>
{% endif %}

{% if commit_json_avail[test]["original"] and commit_json_avail[test]["generated"] %}
<td class="success"><a href="../../diff/?a={{ commit['hash'] }}/{{ test }}.output.xml.json&b={{ commit['hash'] }}/{{ test }}.input.xml.ci.output.xml.json"><span class="glyphicon glyphicon-ok-circle text-success"></span></a></td>
{% else %}
<td class="success"><span class="glyphicon glyphicon-remove-circle text-danger"></span></td>
{% endif %}
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
