{% extends "base-template.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Commits</h1>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#latest-commit">Latest Commit ({{ commits[0]['hash'] }}, {{ commits[0]['date'] }})</button>
<div id="latest-commit" class="collapse">
<pre>
{{ commit_info }}
</pre>
</div>
<table class="table table-hover" style="table-layout: fixed; word-wrap: break-word;">
<thead>
<tr>
<th>Commit</th>
{% for test in unified_tests %}
<th>{{ test }}</th>
{% endfor %}
</tr>
</thead>
{% for commit in commits %}
<tr>
<td><a href="commits/{{ commit['hash'] }}" title="{{ commit['date'] }}">{{ commit['hash'] }}</a> <a href="{{ project_base_url }}/commit/{{ commit['hash'] }}"><img src="{{ rel_root_url }}static/img/gitlab.ico" alt="GitLab"/></a></td>
{% for test in unified_tests %}
{% if test in commit['tests'] %}
{% if commit['tests'][test]["run_result"] and commit['tests'][test]["diff_result"] %}
<td class="success">
{% else %}
<td class="danger">
{% endif %}
{% else %}
<td class="active">
{% endif %}
{% if test in commit['tests'] %}
<a href="commits/{{ commit['hash'] }}/#{{ test }}">{{ commit['tests'][test]["errcode"] }}|{{ commit['tests'][test]["differrcode"] }}</a>
{% endif %}
</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}
