{% extends "base-template.html" %}
{% block title %}{{ output_type }} Output - Test {{ test }} - Commit {{ commit['hash'] }} ({{ commit['date'] }}){% endblock %}
{% block body %}
<h1>Commit <a href="." title="{{ commit['date'] }}">{{ commit['hash'] }}</a> <a href="{{ project_base_url }}/commit/{{ commit['hash'] }}"><img src="https://gitlab.com/favicon.ico" alt="GitLab"/></a> ({{ commit['date'] }})</h1>
<h2>Test {{ test }} - {{ output_type }} Output</h2>
{% if output_type == "Run" %}
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#output-raw">Program/XML Output</a></li>
  <li{% if commit["tests"][test]['imgs']|length == 0 %} class="disabled"{% endif %}><a data-toggle="tab" href="#output-images">Images</a></li>
  <li{% if commit["tests"][test]['pages']|length == 0 %} class="disabled"{% endif %}><a data-toggle="tab" href="#output-pages">HTML Pages</a></li>
</ul>
<div class="tab-content">
  <div id="output-raw" class="tab-pane fade in active">
    <pre>{{ commit["tests"][test]["output"]|e }}</pre>
  </div>
  <div id="output-images" class="tab-pane fade">
{% if commit["tests"][test]['imgs']|length == 0 %}
    <h3>No images found.</h3>
{% else %}
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-panel-contents">Contents</button>
            <span class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Jump to...
              <span class="caret"></span></button>
              <ul class="dropdown-menu scrollable-menu">
{% for img_fn in commit["tests"][test]['imgs'] %}
                <li><a href="#{{ img_fn }}">{{ img_fn }}</a></li>
{% endfor %}
              </ul>
            </span>
        </div>
        <div id="collapse-panel-contents" class="panel-collapse collapse">
            <div class="panel-body">
                <ol>
{% for img_fn in commit["tests"][test]['imgs'] %}
                    <li><a href="#{{ img_fn }}">{{ img_fn }}</a></li>
{% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% for img_fn in commit["tests"][test]['imgs'] %}
    <h3><a id="{{ img_fn }}">{{ img_fn }}</a> <a href="#" style="display: inline;"><span class="glyphicon glyphicon-upload glyphicon-large"></span></a></h3>
    <img alt="{{ img_fn }}" src="data:image/png;base64,{{ commit['tests'][test]['imgs'][img_fn] }}" />
{% endfor %}
{% endif %}
  </div>
  <div id="output-pages" class="tab-pane fade">
{% if commit["tests"][test]['pages']|length == 0 %}
    <h3>No HTML pages found.</h3>
{% else %}
    <br />
{% for page_fn in commit["tests"][test]['pages'] %}
    <a class="modalButton" data-toggle="modal" data-src="{{ test }}/{{ page_fn }}" data-title="{{ test }}" href="{{ test }}/{{ page_fn }}" data-target="#myModal" data-remote="false">{{ page_fn }}</a><br />
{% endfor %}
{% endif %}
  </div>
</div>
{% else %}
{% if commit_test_json_avail["original"] and commit_test_json_avail["generated"] %}
<a href="../../diff/?a={{ commit['hash'] }}/{{ test }}.output.xml.json&b={{ commit['hash'] }}/{{ test }}.input.xml.ci.output.xml.json">JSON Diff</a>
{% else %}
(No JSON diff available.)
{% endif %}
<br />
<pre>{{ commit["tests"][test]["diffoutput"]|e }}</pre>
{% endif %}
{% endblock %}
